@model IEnumerable<EventIndexViewModel>
@{
    ViewData["Title"] = "Index";
}
<style>
    .rectangle {
        position: absolute;
        height: auto;
        width: 60%;
        top: 20%;
        left: 20%;
        background-color: white;
        z-index: -1;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 5px #888888;
    }

    .reposition {
        position: absolute;
        width: 60%;
        left: 20%;
    }
    body {
        padding-bottom: 30%;
    }

</style>
<div class="reposition">
    <h4>Events</h4>
    <hr />
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Index" method="get">
        <select name="sorting">
            <option>
                Most Subscribers
            </option>
            <option>
                Least Subscribers
            </option>
            <option>
                Newest
            </option>
            <option>
                Oldest
            </option>
            <option>
                First Subscribed
            </option>
            <option>
                Last Subscribed
            </option>
        </select>
        <input type="submit" value="Sort">
    </form>

</div>


<div class="rectangle">
    <dl class="row">
        <dt style="margin-left: 200px;" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        @foreach (var item in Model)
        {
            <dd class="col-sm-10">
                <img src="@item.ImageUrl" width="150" height="150" />
            </dd>
            <dd style="margin-left: 200px;" class="col-sm-2">
                @Html.DisplayFor(model => item.Location)
            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => item.DateTime)
            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => item.Email)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.GoingUsers.Count)
            </dd>
            @if (!item.IsOwned)
            {
                @if (!item.IsSubscribed)
                {
                    <a asp-controller="Events" asp-action="Subscribe" asp-route-id="@item.Id">Subscribe</a>
                }
                else
                {
                    <a asp-controller="Events" asp-action="UnSubscribe" asp-route-id="@item.Id">UnSubscribe</a>
                }
            }
            @if (item.IsAdmin)
            {
                @:|
            }
            @if (item.IsOwned || item.IsAdmin)
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                @:|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete </a>
            }

        }
    </dl>
</div>
