@model IEnumerable<EventIndexViewModel>
@{
    ViewData["Title"] = "Index";
}
<style>
    .rectangle {
        position: absolute;
        height: auto;
        box-sizing: border-box;
        width: 60%;
        top: 45%;
        left: 20%;
        background-color: white;
        z-index: -1;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 5px #888888;
        overflow-y:auto;
    }

    .reposition {
        position: absolute;
        width: 60%;
        left: 20%;
    }
    body {
        height: 10px;
    }

    select {
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    input[type=submit] {
        width: 100%;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .col-sm-2 {
        margin: 0 auto;
    }

</style>
<div class="reposition">
    <h4>Events</h4>
    <hr />
    <p>
        <a class="btn btn-outline-success " asp-action="Create">Create New</a>
    </p>
    <div class="sort-dsn">
    <form asp-action="Index" method="get">
        <select name="sorting">
            <option>
                Most Subscribers
            </option>
            <option>
                Least Subscribers
            </option>
            <option>
                Newest
            </option>
            <option>
                Oldest
            </option>
            <option>
                First Subscribed
            </option>
            <option>
                Last Subscribed
            </option>
        </select>
        <input type="submit" value="Sort">
    </form>
        </div>
</div>


<div class="rectangle">
    <table class="row" style="z-index: 10;">
        <tr>
            <th></th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateTime)
            </th>

            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="width: 100%">
                <td class="col-sm-1">
                    <img src="@item.ImageUrl" width="150" height="150" style="display: flex" />
                </td>
                <td style="margin-left: 200px; " class="col-sm-2">
                    @Html.DisplayFor(model => item.Location)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(model => item.DateTime)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(model => item.Email)
                </td>

            </tr>
            <tr>
                <td class="pl-4" colspan="5">
                    <div>
                        <a>People Going: </a> @Html.DisplayFor(model => item.GoingUsers.Count)
                    </div>
                    @if (!item.IsOwned)
                    {
                        @if (!item.IsSubscribed)
                        {

                            <a class="btn btn-outline-primary" asp-controller="Events" asp-action="Subscribe" asp-route-id="@item.Id">Subscribe</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" asp-controller="Events" asp-action="UnSubscribe" asp-route-id="@item.Id">UnSubscribe</a>
                        }
                    }
                    @if (item.IsAdmin)
                    {
                        @:
                    }
                    @if (item.IsOwned || item.IsAdmin)
                    {
                        <a class="btn btn-success m-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @:
                        <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.Id">Delete </a>
                    }
                </td>
            </tr>

        }
    </table>
</div>
