@model ASAnimals

@{
    ViewData["Title"] = "Delete";
}


<style>
    .rectangle {
        position: absolute;
        height: auto;
        width: 60%;
        top: 20%;
        left: 20%;
        background-color: white;
        z-index: -1;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 5px #888888;
    }

    .reposition {
        position: absolute;
        width: 60%;
        left: 20%;
    }
</style>

<div class="reposition">
    <h4>Are you sure you want to delete this?</h4>
    <hr />
</div>
<div class="rectangle">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>
